@model NewLanguageDto


<form asp-controller="Crud" asp-action="CreateLanguage" method="post" enctype="multipart/form-data" >
<div>
    <label asp-for="LanguageName">Language Name</label>
    <input asp-for="LanguageName" />
</div>
<div>
    <label asp-for="LanguageCode">Language Code</label>
    <input asp-for="LanguageCode">
</div>
<button type="submit">Submit New Language</button>
</form>