ReadersEdition.Web/bin/*
ReadersEdition.Web/obj/*
ReadersEdition.Tests/bin/*
ReadersEdition.Tests/obj/*
ReadersEdition.Infrastructure/obj/*
ReadersEdition.Infrastructure/bin/*
ReadersEdition.Domain/bin/*
ReadersEdition.Domain/obj/*
ReadersEdition.Application/bin/*
ReadersEdition.Application/obj/*