@model GlossTextDto
@{
    ViewBag.PageTitle="Gloss Text";
}

<div class="row">
    <form asp-controller="Home" asp-action="GlossText" enctype="multipart/form-data" method="post">
        <div class="col">
            <label asp-for="ContentFile">File to Gloss</label>
            <input class="form-control form-control-file" asp-for="ContentFile" />
        </div>
        <div class="col">
            <label asp-for="GlossedAsComprehensibleInput"></label>
            <input type="checkbox" asp-for="GlossedAsComprehensibleInput" />
        </div>
        <div class="col">
            <label asp-for="Threshold"></label>
            <select asp-for="Threshold" asp-items="Html.GetEnumSelectList<DifficultyLevels>()"> </select>
        </div>
        <div class="col">
            <label asp-for="GlossLanguage">Gloss Language</label>
            <select asp-for="GlossLanguage" asp-items="model.Languages"></select>
        </div>
              <div class="col">
            <label asp-for="TextLanguage">Text Language</label>
            <select asp-for="TextLanguage" asp-items="model.Languages"></select>
        </div>
        <!--If Statements don't work without reloading the page, I need to use JQuery-->
        <button type="submit">Submit File</button>

    </form>
</div>