@page "/admin/addlanguage"

<div>
    <div>
        <RadzenLabel for="Lang.LanguageName">
            Language Code
        </RadzenLabel>
        <RadzenTextBox @bind-Value="Lang.LanguageName"></RadzenTextBox>
    </div>
    <div>
        <RadzenLabel for="Lang.LanguageCode">
            Language Code
        </RadzenLabel>
        <RadzenTextBox @bind-Value="Lang.LanguageCode"></RadzenTextBox>
    </div>
    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Submit" Click="SubmitLanguage"></RadzenButton>
</div>

@code 
{
    [Parameter]
    public Language Lang {get; set;}
    [Inject]
    public IMediator Mediator {get; set;}
    protected override async Task OnInitializedAsync()
    {
        if(Lang == null)
            Lang = new();
    }
    public async Task SubmitLanguage()
    {
        var result = await Mediator.Send(new AddLanguageCommand { Lang = Lang });
    }
}